
.container{
margin: 50px 50px;
height:500px;
width: 500px;
margin: 0 auto;
border:5px solid black ;
}


.grid{
display:inline-block;
outline:2px solid black;
}
.reset{
float:right;
}
.orange{
background-color:orange;
}
.green{
background-color:mediumseagreen;
}
.aqua{
background-color:aqua;
}
.pink{
background-color:hotpink;
}
.coral{
background-color:lightcoral;
}
.plum{
background-color:plum;
}
